@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ! LOGIN PAGE */

.LoginPage .logo{
  max-width: 175px;
}
